* {
    box-sizing: border-box;
}

.user-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}

.green-rectangle {
    background-color: var(--green-color-semitransparent-50);
    width: 100%;
    height: 125px;
    box-shadow: 0 17px 15px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 35px 10px 35px;
}

.user-icon {
    width: 125px;
    min-width: 40px;
    height: 125px;
    min-height: 40px;
    object-fit: cover;
    margin-top: -63px;
    z-index: 900;
}

.user-name{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: var(--white-color);
}

.user-remove-content{
    background-color: var(--green-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: calc(50% - 350px);
    border: none;
    width: 700px;
    height: 200px;
    position: relative;
    border-radius: 15px;
}

.user-remove-buttons-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.horse-error{
    color: white;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
}