@model Equustopia.WebApplication.Models.Main.Horse

@{
    ViewBag.Title = " - " + Model.name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/details/details.css">
</head>

<div class="main-info">
    <div class="brown-rectangle"></div>
    <div class="details-info">
        <img src="~/resources/icons/profile-picture-icon.svg" class="user-icon" alt="user profile icon"/>
        
        <div class="text-info">
            <span class="user-name">@Model.name</span>
            <span class="birth-date">@Model.birthDate?.ToString("dd/MM/yyyy")</span>
            <a class="owner" href="~/User/Details/@Model.UserData.id">@Model.UserData.name</a>
        </div>
    </div>
</div>