@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equustopia @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/css/side-menu.css">
    <link rel="stylesheet" href="~/css/buttons.css" />
    <link rel="stylesheet" href="~/css/search-results.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
<header class="header-content">
    <div class="left-container">
        <button id="sideMenuButton" class="side-menu-button">
            <img src="~/resources/icons/side-menu-semitransparent.svg" height="20" width="20" alt="side menu icon" />
        </button>
        <a asp-controller="Home" asp-action="Index" class="site-title">Equustopia</a>
    </div>
    
    <div class="right-container">
        <div id="searchContainer" class="search-container">
            <img src="~/resources/icons/search-semitransparent.svg" height="20" width="20" alt="search icon" class="search-icon" />
            <input type="text" id="search-bar" class="search-bar" placeholder="Search..." onkeydown="handleSearch(event)" />
            
            <div id="searchResults" class="search-results-container"></div>
        </div>

        @if (string.IsNullOrEmpty(HttpContextAccessor.HttpContext?.Session.GetString("LoggedUser")))
        {
            <button id="logInButton" class="classic-button" onclick="openLogInModal()">log in</button>
            <button id="signUpButton" class="border-button-blue" style="margin-right: 0" onclick="openSignUpModal()">sign up</button>
        }
        else
        {
            <span class="welcome-span">Welcome, @HttpContextAccessor.HttpContext.Session.GetString("LoggedUser")</span>
            <button id="UserMainPageButton" class="user-main-page-button" onclick="window.location.href='@Url.Action("UserMainPage", "User")'" type="button">
                <img src="~/resources/icons/user-brown.svg" height="45" width="45" alt="user icon" />
            </button>
            <button id="logOutButton" class="classic-button" style="margin-right: 0" onclick="logOut()">log out</button>
        }
    </div>
</header>

<div id="sideMenu" class="side-menu">
    <a asp-controller="Home" asp-action="Index">Home</a>
    @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext?.Session.GetString("LoggedUser")))
    {
        <a asp-controller="User" asp-action="UserMainPage">My profile</a>
    }
    
    @* <a href="#">Services</a> *@
    @* <a href="#">Contact</a> *@
</div>

<div id="mainContent" class="main-content">
    @RenderBody()
</div>

<footer>
    <div class="footer-content">
        <p>&copy; 2024 Equustopia. All rights reserved.</p>
    </div>
</footer>

<script src="~/js/site.js"></script>
<script src="~/js/account/logIn.js"></script>

@await Html.PartialAsync("../Account/LogIn")
@await Html.PartialAsync("../Account/SignUp")
</body>

</html>
