<div id="loginModal" class="modal" style="display: none;">
    <div class="login-content">
        @* <form method="post" action="/Account/Login"> *@
            <input type="text" id="email" class="login-input" placeholder="email" required>
            <input type="password" id="password" class="login-input" placeholder="password" required>
            
            <button type="submit" class="classic-button-long">Login</button>
        @* </form> *@
    </div>
</div>