<head>
    <link rel="stylesheet" href="~/css/search-results.css" />
</head>

<div id="searchResultsModal" class="searchResultsModal" style="display: none;">
    <div id="searchResults" class="search-results-container">
        
    </div>
</div>

