.classic-button, .border-button-blue, .border-button-green{
    width: 100px;
    max-width: 100px;
    min-width: 50px;
    height: 40px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s, transform 0.3s;
}

.classic-button{
    background-color: var(--brown-color);
    color: var(--white-color);
    border: none;
}

.classic-button:hover{
    background-color: var(--hover-brown-color);
    transform: translateY(-2px);
}

.border-button-blue, .border-button-green{
    background-color: transparent;
    color: var(--white-color);
    border: 2px solid var(--brown-color);
}

.border-button-blue:hover{
    background-color: var(--hover-blue-color);
    border: 2px solid var(--hover-brown-color);
    transform: translateY(-2px);
}

.border-button-green:hover{
    background-color: var(--hover-green-color);
    border: 2px solid var(--hover-brown-color);
    transform: translateY(-2px);
}

.classic-button:disabled{
    background-color: var(--disabled-color);
    color: var(--white-color);
    cursor: not-allowed;
}

button:disabled {
    background-color: var(--disabled-color);
    color: var(--white-color);
    cursor: not-allowed;
    pointer-events: none;
}