.main-header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: var(--blue-color);
    color: var(--white-color);
    box-shadow: 0 17px 15px rgba(0, 0, 0, 0.25);
    display:flex;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    box-sizing: border-box;
}

.left-container, .right-container {
    display: flex;
    align-items: center;
}

.right-container {
    margin-left: auto;
    flex-wrap: nowrap;
}

.side-menu-button {
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    margin-right: 35px;
}

.site-title {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: var(--white-color);
    text-decoration: none;
    margin-left: 45px;
    flex-shrink: 1;
}

@media (max-width: 600px) {
    .site-title {
        font-size: 24px;
    }
    .search-container{
        display: none; !important;
    }
}

.classic-button, .border-button{
    margin: 0 10px 0 10px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: var(--white-color-semitransparent-25);
    border: none;
    border-radius: 8px;
    flex: 1 1 auto;
    max-width: 400px;
    min-width: 20px;
    height: 40px;
    margin: 0 10px 0 35px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.3s, transform 0.3s;
}

.search-container:hover, .search-container:focus-within{
    background-color: var(--white-color);
    transform: translateY(-2px);
}

.search-icon{
    margin: 0 10px 0 10px;
}

.search-bar{
    border: none;
    background: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    color: var(--white-color-semitransparent-50);
    font-family: 'Alegreya Sans', sans-serif;
}

.search-bar:focus, .search-bar:hover, .search-icon.hover, .search-icon.focus{
    color: var(--black-color);
    font-family: 'Alegreya Sans', sans-serif;
}

.search-bar::placeholder{
    font-size: 16px;
    color: var(--white-color-semitransparent-50);
    font-family: 'Alegreya Sans', sans-serif;
}

.welcomeSpan{
    font-weight: bold;
    margin-right: 30px;
    margin-left: 80px;
}
