* {
    box-sizing: border-box;
}

.index-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    width: 100%;
}



.moderator-requests-table {
    background-color: var(--white-color-semitransparent-50);
    margin-bottom: 45px;
    margin-top: 15px;
    width: 100%;
    height: 375px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
    padding: 20px 0 20px 20px;
}

.moderator-requests-table th,
.moderator-requests-table td {
    border: none;
    padding: 10px;
    text-align: left;
    background-color: var(--white-color-semitransparent-50);
    width:33%;
}

.moderator-requests-table th {
    background-color: var(--green-color);
    font-weight: bold;
    color: var(--white-color);
}