.search-results-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-height: 250px;
    background: var(--white-color);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    display: none;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
}

.search-result-item {
    border: none;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.search-result-item:hover {
    background-color: var(--white-color);
    transform: translateY(-5px);
}