:root {
  --blue-color: #3cb3d7;
  --hover-blue-color: #2895b5;
  --light-blue-color: #d3eef6;
  --mid-blue-color: #a3d7e7;
  --white-color: #ffffff;
  --hover-white-color: #e0e0e0;
  --white-color-semitransparent-25: rgba(255, 255, 255, 0.25);
  --white-color-semitransparent-50: rgba(255, 255, 255, 0.5);
  --white-color-semitransparent-75: rgba(255, 255, 255, 0.75);
  --black-color: #000000;
  --green-color: #9ede5e;
  --green-color-semitransparent-50: rgba(158, 222, 94, 0.5);
  --green-color-semitransparent-75: rgba(158, 222, 94, 0.75);
  --hover-green-color: #8ccf4d;
  --brown-color: #e8b98e;
  --brown-color-semitransparent-50: rgba(232, 185, 142, 0.5);
  --hover-brown-color: #d7a080;
  --light-green-color: #c4e3a5;
  --mid-green-color: #a8d18e;

  --disabled-color: #c0c0c0;
}

*, html, body {
  margin:0;
  padding:0;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 16px;
  background-color: var(--light-blue-color);
  display: flex;
  flex-direction: column;
}

.main-content, .main-info{
  flex: 1;
}
