<head>
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/frames-storage.css" />
</head>

<div class="index-container">
    <div class="frames-storage">
        <span class="left-aligned-text">Most viewed</span>
        <div id="most-viewed" class="items-frame">

        </div>
    </div>
</div>

