@{
    ViewData["Title"] = "Equustopia";
}

@model List<Equustopia.WebApplication.Models.Uzytkownik>

<h1>Users</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.id</td>
            <td>@user.nazwa</td>
            <td>@user.email</td>
        </tr>
    }
    </tbody>
</table>

@if (TempData["LoginError"] != null)
{
    <div class="error-message">@TempData["LoginError"]</div>
}