@model Equustopia.WebApplication.Models.Main.EquestrianCentre

<head>
    <link rel="stylesheet" href="~/css/equestrianCentre/equestrian-centre-partial-view.css" />
</head>

<div id="editCentreModal" class="modal" style="display: none;">
    <div class="modal-content">
        <div class="form-content">
            <p class="form-title">edit centre</p>

            <div class="form-group">
                <label for="editCentreName">centre name</label>
                <input type="text" id="editCentreName" name="name" class="form-control" placeholder="name" required/>
            </div>
            <div class="form-group">
                <label for="editAddress">address</label>
                <input type="text" id="editAddress" name="address" class="form-control" placeholder="address" required/>
            </div>
            <div class="form-group">
                <label>owner</label>
                <input type="text" name="owner" class="form-control-readonly" value="@Model.UserData.name" readonly/>
            </div>

            <span id="editCentreError" class="add-centre-error"></span>

            <button type="submit" class="btn btn-primary" onclick="addNewEquestrianCentre()">edit centre</button>
        </div>

        <div class="photo-content">
            <p class="form-title">upload centre photo</p>
            <img src="~/resources/icons/centre-icon.svg" class="centre-icon" alt="centre icon" />
            <input type="file" id="editCentrePhoto" name="photo" accept="image/*" style="display: none" />
            <button class="upload-photo-button" onclick="document.getElementById('editCentrePhoto').click()">upload photo</button>
            <span class="close" onclick="closeAddEquestrianCentreView()">&times;</span>
        </div>
    </div>
</div>

<script src="~/js/user/userMainPage.js"></script>