<div id="signupModal" class="modal" style="display: none;">
    <div class="login-content">
        @* <form method="post" action="/Account/Signup"> *@
            <input type="text" id="name" class="login-input" placeholder="name" required>
            <input type="text" id="email" class="login-input" placeholder="email" required>
            <input type="password" id="password" class="login-input" placeholder="password" required>
            <input type="password" id="password-repeat" class="login-input" placeholder="repeat password" required>
            
            <button type="submit" class="classic-button-long">sign up</button>
        @* </form> *@
    </div>
</div>