<div id="logInModal" class="modal" style="display: none;">
    <div class="logIn-content">
        <span id="logInError" class="logIn-error" style="margin-bottom: 20px"></span>
        
        <div class="input-div">
            <input type="email" id="logInEmail" name="Email" class="logIn-input" placeholder="email" maxlength="255" required>
        </div>
        <div class="input-div">
            <input type="password" id="logInPassword" name="Password" class="logIn-input" placeholder="password" onkeydown="if(event.key === 'Enter') attemptLogIn()" maxlength="10" required>
        </div>

        <button type="submit" class="classic-button-long" onclick="attemptLogIn()">log in</button>
    </div>
</div>